<!DOCTYPE html>
<html lang="en">
  <%- include("./template/head/head") %>

  <body>
    <main class="content">
  
      <%- include("./template/header/header") %>
      <%- include("./template/nav/navigation") %>
    
      <section class="card">

        <% data.forEach(function(user) { %>
        
          <%- include("./template/page/main.ejs", {data:user}) %>        
      
      <% }) %>
    
        
      </section>
      
      <%- include("./template/footer/footer") %>
    </main>
  </body>
</html>
