<%- include("../head/head.ejs") %>

<main class="content">
  <%- include("../nav/navigation.ejs") %>
  <%- include("../header/header.ejs") %> 
  <%- include("../forms/form_products.ejs") %>
  <%- include("../footer/footer.ejs") %>
</main>
